div#productSearch {
  padding: 10;
}
div#searchForm {
  padding: 10;
}
li#signout {
  float: right;
}
a#createAccount {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-size: 10px;
}
img#lock {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
textarea#desc {
  max-height: 200px;
  max-width: 100%;
}
form#SKUSearch {
  display: block;
  margin-left: auto;
  margin-right: 500;
}
form#NameSearch {
  display: block;
  margin-left: auto;
  margin-right: 500;
}
form {
  display: inline-block;
}
