#navbar {
  position: fixed;
  width: 98%;
  display: block;
  min-width: 1100px;
  z-index: 10;
}
#mainHeading {
  overflow: hidden;
  display: block;
}
#regForm {
  padding-top: 50;
}
#outerForm {
  display: block;
  padding: 10;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50;
}
#signout {
  float: right;
  margin-right: 25px;
}
#user {
  float: right;
}
#createAccount {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-size: 10px;
}
#lock {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#desc {
  max-height: 200px;
  max-width: 100%;
}
#editProdLink {
  color: #fff;
}
#SKUSearch {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#NameSearch {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#prodImg {
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
  height: 275px;
  padding: 2%;
  margin-bottom: 40px;
}
#editProdButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#prodForm {
  float: left;
  margin: 0;
  width: 60%;
}
#productpic {
  width: 100%;
}
#prodAdd {
  width: 50%;
}
#addProdformContainer {
  padding-left: 100px;
}
#formContainer {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
table {
  table-layout: fixed;
  width: 500px;
}
th,
td {
  width: 200px;
}
