div#productSearch
	padding 10
div#searchForm
	padding 10
li#signout
	float right
a#createAccount
	display block
	margin-right auto
	margin-left auto
	text-size 10px
img#lock
	display block
	margin-right auto
	margin-left auto

	