div#productSearch {
  padding: 10;
}
div#searchForm {
  padding: 10;
}
li#signout {
  float: right;
}
a#createAccount {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-size: 10px;
}
img#lock {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
textarea#desc {
  max-height: 200px;
  max-width: 100%;
}
form#SKUSearch {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
form#NameSearch {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#prodImg {
  float: left;
  margin: 0;
  width: 250px;
  height: 250px;
  padding: 2%;
}
#prodForm {
  float: left;
  margin: 0;
  width: 50%;
}
#productpic {
  width: 100%;
}
#prodAdd {
  width: 50%;
}
table {
  table-layout: fixed;
  width: 500px;
}
th,
td {
  width: 200px;
}
