extends layout

block navigation
	div#navbar.navbar.navbar-default
		ul.nav.nav-pills
			li.active
				a(href='/home') Home
			li
				a(href='/search') Product search
			li
				a(href='/addProd') Add Inventory
			li#signout
				a(href='/signout') Sign Out
block heading
	script(text="text/javascript", src="../js/controllers/home-controller.js")
block content
	div#outerForm.panel.panel-primary
		h4#mainHeading.panel.panel-heading
			| Home Page
		div#innerForm.panel.panel-info
			h4.panel.panel-heading
				| Scan SKU:
			div#formContainer.container-fluid
				div#prodForm.column
					form#SKUSearch(ng-controller="homeController", class='form' autocomplete='off')
						label SKU:
						input(type='text', name='SKU', class='form-control', placeholder='SKU', ng-model='SKUNum', required, autofocus)
						button(class='btn btn-primary', type='submit', ng-click="findProduct(SKUNum);") Submit			
	#message
		if message
			h2.text-center.error-message #{message}	
block footer	
	p &copy Acme Warehouse Managment Systems 2015