extends layout

block navigation
	div#navbar.navbar.navbar-default
		ul.nav.nav-pills
			li.active
				a(href='/home') Scan
			li
				a(href='/search') Product search
			li
				a(href='/addProd') Add Inventory
			li#user
				| Signed in as: #{username}
			li#signout
				a(href='/signout') Sign Out
block heading
	script(text="text/javascript", src="../js/controllers/home-controller.js")
block content
	div#outerForm.panel.panel-primary(ng-controller="homeController")
		h4#mainHeading.panel.panel-heading
			| Find and Modify Product
		div#innerForm.panel.panel-info
			h4.panel.panel-heading(ng-show="showFind==true&&showAdd==false&&showRemove==false")
				| Find by SKU:
			h4.panel.panel-heading(ng-show="showAdd==true")
				| Add Quantity:
			h4.panel.panel-heading(ng-show="showRemove==true")
				| Remove Quantity:
			div#formContainer.container-fluid
				div#prodForm.column
					form#SKUSearch(class='form' autocomplete='off' ng-hide='showResults == true')
						label SKU:
						input(type='text', name='SKU', class='form-control', placeholder='SKU', ng-model='SKU', required, autofocus)
						button#Buttons(class='btn btn-primary', type='submit', ng-click="findProduct(SKU)") Submit
						button#Buttons(class='btn btn-primary', type='button', ng-click="reset()") Cancel
					form#SKUSearch(class='form' autocomplete='off' ng-show='showResults == true')
						label SKU:
						div.input-group(ng-hide="edit.editSKU==true")
							input(type='text', ng-model='oneItem.SKU', name='SKU', class='form-control', placeholder='SKU', readonly)
							span.input-group-btn()
								button.btn.btn-default(type="button" ng-click="editSKU()" ng-disabled="showAdd==true||showRemove==true") Edit
						div.input-group(ng-show="edit.editSKU==true")
							input(type='text', ng-model='oneItem.SKU', name='SKU', class='form-control', placeholder='SKU')
							span.input-group-btn
								button.btn.btn-default(type="button" ng-click="cancelSKUEdit()") Cancel
						label Product Name:
						div.input-group(ng-hide="edit.editName==true")
							input(type='text', ng-model="oneItem.Product_Name" name='prodName', class='form-control nomargin', placeholder='Product Name', readonly)
							span.input-group-btn
								button.btn.btn-default(type="button" ng-click="editName()" ng-disabled="showAdd==true||showRemove==true") Edit
						div.input-group(ng-show="edit.editName==true")
							input(type='text', ng-model="oneItem.Product_Name" name='prodName', class='form-control nomargin', placeholder='Product Name')
							span.input-group-btn
								button.btn.btn-default(type="button" ng-click="cancelNameEdit()") Cancel
						label Product Description:
						div.input-group(ng-hide="edit.editDesc==true")
							textarea#desc(type='text', ng-model="oneItem.Product_Description" name='prodDesc', class='form-control', placeholder='Product Description',readonly)
							span.input-group-btn
								button.btn.btn-default(type="button" ng-click="editDesc()" ng-disabled="showAdd==true||showRemove==true") Edit
						div.input-group(ng-show="edit.editDesc==true")
							textarea#desc(type='text', ng-model="oneItem.Product_Description" name='prodDesc', class='form-control', placeholder='Product Description')
							span.input-group-btn
								button.btn.btn-default(type="button" ng-click="cancelDescEdit()") Cancel
						label Location:
						div.input-group(ng-hide="edit.editLocation==true")
							input(type='text', ng-model="oneItem.Product_Location" name='location', class='form-control', placeholder='Location',readonly)
							span.input-group-btn
								button.btn.btn-default(type="button" ng-click="editLocation()" ng-disabled="showAdd==true||showRemove==true") Edit
						div.input-group(ng-show="edit.editLocation==true")
							input(type='text', ng-model="oneItem.Product_Location" name='location', class='form-control', placeholder='Location')
							span.input-group-btn
								button.btn.btn-default(type="button" ng-click="cancelLocationEdit()") Cancel		
						label(ng-hide="showAdd==true||showRemove==true") Quantity Available:
						div.input-group(ng-hide="showAdd==true||showRemove==true")
							input(type='text', ng-model="oneItem.Quantity" name='quantity', class='form-control', placeholder='Quantity Available', ng-hide="showAdd==true||showRemove==true" ,readonly)
							span.input-group-btn
								button.btn.btn-default(type="button" ng-click="addForm()")
									span#AddRemoveGlyph.glyphicon.glyphicon-plus
							span.input-group-btn
								button.btn.btn-default(type="button" ng-click='removeForm()')
									span#AddRemoveGlyph.glyphicon.glyphicon-minus
						button#ButtonCenter(class='btn btn-primary', type='button', ng-click="reset()" ng-hide='edit.editSKU==true||edit.editName==true||edit.editDesc==true||edit.editLocation==true||showAdd==true||showRemove==true') OK
						button#Buttons(class='btn btn-primary', type='button', ng-click="updateItem()" ng-show='edit.editSKU==true||edit.editName==true||edit.editDesc==true||edit.editLocation==true') Submit
						button#Buttons(class='btn btn-primary', type='button', ng-click="reset()" ng-show='edit.editSKU==true||edit.editName==true||edit.editDesc==true||edit.editLocation==true') Cancel
				div#prodForm.well.well-lg(ng-show="showAdd==true && showResults == true")
					label Current Quantity:
					input(type='text', ng-model="oneItem.Quantity" name='quantity', class='form-control', placeholder='Quantity Available',readonly)
					label Quantity to Add:
					input(type='text', ng-model="temp.quantityToAdd" name='addQuantity', class='form-control', placeholder='Quantity to Add')
					span
					button#Buttons(class='btn btn-primary', type='button', ng-click="addQuantity()") Add
					button#Buttons(class='btn btn-primary', type='button', ng-click="cancelQuantityEdit()") Cancel
					span
				div#prodForm.column(ng-show="showRemove==true && showResults == true")
					label Current Quantity:
					input(type='text', ng-model="oneItem.Quantity" name='quantity', class='form-control', placeholder='Quantity Available',readonly)
					label Quantity to Remove:
					input(type='text', ng-model="temp.quantityToRemove" name='removeQuantity', class='form-control', placeholder='Quantity to Remove')
					button#Buttons(class='btn btn-primary', type='button', ng-click="removeQuantity()") Remove
					button#Buttons(class='btn btn-primary', type='button', ng-click="cancelQuantityEdit()") Cancel
				span.clearfix
			#message(ng-show="noResults == true")
				h2.text-center.error-message No product found!	
			#message(ng-hide='noResults == true || showResults == true')
				if message
					h2.text-center.error-message #{message}	
block footer	
	p &copy Acme Warehouse Managment Systems 2015