extends layout

block navigation
	div#navbar.navbar.navbar-default
		ul.nav.nav-pills
			li.active
				a(href='/home') Home
			li
				a(href='/search') Product search
			li
				a(href='/addProd') Add Inventory
			li#signout
				a(href='/signout') Sign Out
block heading
block content
	div#outerForm.panel.panel-primary
		h4#mainHeading.panel.panel-heading
			| Home Page - Give this a Title
		div#innerForm.panel.panel-info
			h4.panel.panel-heading
				| Show user Options:
			div#formContainer.container-fluid
				p Put some Content in here!
	#message
		if message
			h2.text-center.error-message #{message}	
block footer	
	p &copy Acme Warehouse Managment Systems 2015