extends layout

block navigation
	div#navbar.navbar.navbar-default
		ul.nav.nav-pills
			li.active
				a(href='/home') Scan
			li
				a(href='/search') Product search
			li
				a(href='/addProd') Add Inventory
			li#user
				| Signed in as: #{username}
			li#signout
				a(href='/signout') Sign Out
block heading
	script(text="text/javascript", src="../js/controllers/home-controller.js")
block content
	div#outerForm.panel.panel-primary(ng-controller="homeController")
		h4#mainHeading.panel.panel-heading(ng-show="showFind==true")
			| Scan SKU to Find Product
		h4#mainHeading.panel.panel-heading(ng-show="showAdd==true")
			| Scan SKU to Add Quantity
		h4#mainHeading.panel.panel-heading(ng-show="showRemove==true")
			| Scan SKU to Remove Quantity
		ul.nav.nav-tabs
			li(ng-class="{active:myForm==='findForm'}")
				a(ng-click="findForm()") Find Product
			li(ng-class="{active:myForm==='addForm'}")
				a(ng-click="addForm()") Add Quantity
			li(ng-class="{active:myForm==='removeForm'}")
				a(ng-click="removeForm()") Remove Quantity
		div#innerForm.panel.panel-info
			h4.panel.panel-heading(ng-show="showFind==true")
				| Find by SKU:
			h4.panel.panel-heading(ng-show="showAdd==true")
				| Add Quantity:
			h4.panel.panel-heading(ng-show="showRemove==true")
				| Remove Quantity:
			div#formContainer.container-fluid
				div#prodForm.column()
					form#SKUSearch(class='form' autocomplete='off' ng-hide='showResults == true')
						label SKU:
						input(type='text', name='SKU', class='form-control', placeholder='SKU', ng-model='SKU', required, autofocus)
						button(class='btn btn-primary', type='submit', ng-click="findProduct(SKU);") Submit	
					form#SKUSearch(class='form' autocomplete='off' ng-show='showResults == true')
						label SKU:
						input(type='text', ng-model='oneItem.SKU', name='SKU', class='form-control', placeholder='SKU', readonly)
						label Product Name:
						input(type='text', ng-model="oneItem.Product_Name" name='prodName', class='form-control nomargin', placeholder='Product Name', readonly)
						label Product Description:
						textarea#desc(type='text', ng-model="oneItem.Product_Description" name='prodDesc', class='form-control', placeholder='Product Description',readonly)
						label(ng-hide="showAdd==true||showRemove==true") Quantity Available:
						input(type='text', ng-model="oneItem.Quantity" name='quantity', class='form-control', placeholder='Quantity Available', ng-hide="showAdd==true||showRemove==true" ,readonly)
						label Location:
						input(type='text', ng-model="oneItem.Product_Location" name='location', class='form-control', placeholder='Location',readonly)
						button#editButtonGroup(class='btn btn-primary', type='button', ng-click="reset()" ng-show='showFind==true') OK
						span.clearfix
				div#prodForm.column(ng-show="showAdd==true")
					label Current Quantity:
					input(type='text', ng-model="oneItem.Quantity" name='quantity', class='form-control', placeholder='Quantity Available',readonly)
					label Quantity to Add:
					input(type='text', ng-model="temp.quantityToAdd" name='addQuantity', class='form-control', placeholder='Quantity to Add')
					button#editButtonGroup(class='btn btn-primary', type='button', ng-click="addQuantity()" ng-show='showAdd==true') Add
				div#prodForm.column(ng-show="showRemove==true")
					label Current Quantity:
					input(type='text', ng-model="oneItem.Quantity" name='quantity', class='form-control', placeholder='Quantity Available',readonly)
					label Quantity to Remove:
					input(type='text', ng-model="temp.quantityToRemove" name='removeQuantity', class='form-control', placeholder='Quantity to Remove')
					button#editButtonGroup(class='btn btn-primary', type='button', ng-click="removeQuantity()" ng-show='showRemove==true') Remove
			#message(ng-show="noResults == true")
				h2.text-center.error-message No product found!	
			#message(ng-hide='noResults == true || showResults == true')
				if message
					h2.text-center.error-message #{message}	
block footer	
	p &copy Acme Warehouse Managment Systems 2015