extends layout

block navigation
	div.navbar.navbar-default
		ul.nav.nav-pills
			li
				a(href='/home') Home
			li.active
				a(href='/search') Product Search
			li
				a(href='/addProd') Add Inventory
			li#signout
				a(href="/signout") Sign Out
block heading
	script(text="text/javascript", src="../js/controllers/product-controller.js")
block content
	div#productSearch.panel.panel-primary(ng-controller="productController")
		h3.panel.panel-heading
			| Product Search
		ul.nav.nav-tabs
			li(ng-class="{active:Search===SKU}")
				a(ng-click="Search = SKU; loadSKUSearch()") SKU
			li(ng-class="{active:Search===!SKU}")
				a(ng-click="Search = ! SKU; loadNameSearch()") Product Name
		div#searchSKUForm.panel.panel-info(ng-show='Search === SKU')
			h4.panel.panel-heading
				| Search by SKU:
			div#formContainer.container-fluid
				div#prodImg.column
					img#productpic(class='thumbnail', src='./img/lock-128.png')
				div#prodForm.column
					form#SKUSearch(class='form' autocomplete='off')
								label SKU:
								input(type='text', name='SKU', class='form-control', placeholder='SKU', ng-model='searchSKU.SKU',required, autofocus)
								div(ng-hide="searchSKU.SKU == null")
									div#prodList
										table
											tr
												th SKU
												th Product Name
											tr(ng-repeat="prod in inventory | orderBy: orderBySKU | filter: searchSKU")
												td {{prod.SKU}}
												td {{prod.Product_Name}}
								label Product Name:
								input(type='text', name='prodName', class='form-control nomargin', placeholder='Product Name', readonly)
								label Product Description:
								textarea#desc(type='text', name='prodDesc', class='form-control', placeholder='Product Description',readonly)
								label Quantity Available:
								input(type='text', name='quantity', class='form-control', placeholder='Quantity Available',readonly)
								label Location:
								input(type='text', name='location', class='form-control', placeholder='Location',readonly)
								button(class='btn btn-lg btn-primary btn-block', type='submit') Search
								span.clearfix
		div#searchNameForm.panel.panel-info(ng-show="Search === ! SKU")
			h4.panel.panel-heading
				| Search by Produt Name:
			div#formContainer.container-fluid
				div#prodImg.column
					img#productpic(class='thumbnail', src='./img/lock-128.png')
				div#prodForm
					form#NameSearch(class='form' autocomplete='off')
								label Product Name:
								input(type='text', name='prodName', class='form-control', placeholder='Product Name', ng-model="searchName.Product_Name", required, autofocus)
								div(ng-hide="searchName.Product_Name == null")
									div#prodList
										table
											tr
												th SKU
												th Product Name
											tr(ng-repeat="prod in inventory | orderBy: orderByName | filter: searchName")
												td {{prod.SKU}}
												td {{prod.Product_Name}}
								label SKU:
								input(type='text', name='SKU', class='form-control', placeholder='SKU',required, readonly)
								label Product Description:
								textarea#desc(type='text', name='prodDesc', class='form-control', placeholder='Product Description',readonly)
								label Quantity Available:
								input(type='text', name='quantity', class='form-control', placeholder='Quantity Available',readonly)
								label Location:
								input(type='text', name='location', class='form-control', placeholder='Location',readonly)
								button(class='btn btn-lg btn-primary btn-block', type='submit') Search
								span.clearfix
block footer	
	p &copy Acme Warehouse Managment Systems 2015