extends layout

block navigation
	div#navbar.navbar.navbar-default
		ul.nav.nav-pills
			li
				a(href='/home') Home
			li.active
				a(href='/search') Product Search
			li
				a(href='/addProd') Add Inventory
			li#user
				| Signed in as: #{username}
			li#signout
				a(href="/signout") Sign Out
block heading
	script(text="text/javascript", src="../js/controllers/product-controller.js")
block content
	div#outerForm.panel.panel-primary(ng-controller="productController")
		h4#mainHeading.panel.panel-heading(ng-hide="prod.showEdit==true")
			| Product Search
		h4#mainHeading.panel.panel-heading(ng-show="prod.showEdit==true")
			| Edit Product
		ul.nav.nav-tabs(ng-hide="prod.showEdit==true")
			li(ng-class="{active:Search===SKU}")
				a(ng-click="Search = SKU; loadSKUSearch()") SKU
			li(ng-class="{active:Search===!SKU}")
				a(ng-click="Search = ! SKU; loadNameSearch()") Product Name
		div#innerForm.panel.panel-info(ng-show='Search === SKU')
			h4.panel.panel-heading(ng-hide="prod.showEdit==true")
				| Search by SKU:
			h4.panel.panel-heading(ng-show="prod.showEdit==true")
				| Edit:
			div#formContainer.container-fluid
				div#prodImg.column
					img#productpic(class='thumbnail', src='./img/StockPhoto.jpg')
					button#editProdButton.btn.btn-primary(ng-hide="prod.showEdit == true" ng-click='showEdit();setEdit()') Edit
				div#prodForm.column
					form#SKUSearch(class='form' autocomplete='off' ng-hide="prod.showEdit == true")
								label SKU:
								input(type='text', name='SKU', class='form-control', placeholder='SKU', ng-model='prod.searchSKU.SKU',  ng-change="showList()", ng-click="showList()", required, autofocus)
								div(ng-hide= "prod.searchSKU.SKU == null || prod.hideList == true")
									div#prodList
										table
											tr
												th SKU
												th Product Name
											tr(ng-repeat="prod in inventory | orderBy: orderBySKU | filter: prod.searchSKU")
												td 
													a(href="" ng-click="getProductBySKU(prod)") {{prod.SKU}}
												td {{prod.Product_Name}}
								label Product Name:
								input(type='text', ng-model="prod.NameBySKU" name='prodName', class='form-control nomargin', placeholder='Product Name', readonly)
								label Product Description:
								textarea#desc(type='text', ng-model="prod.DescBySKU" name='prodDesc', class='form-control', placeholder='Product Description',readonly)
								label Quantity Available:
								input(type='text', ng-model="prod.quantityBySKU" name='quantity', class='form-control', placeholder='Quantity Available',readonly)
								label Location:
								input(type='text', ng-model="prod.locationBySKU" name='location', class='form-control', placeholder='Location',readonly)
								#message(ng-hide="prod.hideMessage == true")
									if message
										h2.text-center.error-message #{message}
								span.clearfix
					form#editSKUProd(class='form' autocomplete='off' ng-show="prod.showEdit == true")
								label SKU:
								input(type='text', ng-model='edited.SKU', name='SKU', class='form-control', placeholder='SKU')
								label Product Name:
								input(type='text', ng-model="edited.Name" name='prodName', class='form-control nomargin', placeholder='Product Name')
								label Product Description:
								textarea#desc(type='text', ng-model="edited.Desc" name='prodDesc', class='form-control', placeholder='Product Description')
								label Quantity Available:
								input(type='text', ng-model="edited.quantity" name='quantity', class='form-control', placeholder='Quantity Available')
								label Location:
								input(type='text', ng-model="edited.locations" name='location', class='form-control', placeholder='Location')
								span.clearfix
									button#editButtonGroup(class='btn btn-primary', type='button', ng-click="updateProduct(edited)" onclick="history.go(0)") Submit
									button#editButtonGroup(class='btn btn-primary', type='button' ng-click="restoreProduct();hideEdit()") Cancel
		div#searchNameForm.panel.panel-info(ng-show="Search === ! SKU")
			h4.panel.panel-heading
				| Search by Produt Name:
			div#formContainer.container-fluid
				div#prodImg.column
					img#productpic(class='thumbnail', src='./img/StockPhoto.jpg')
					button#editProdButton.btn.btn-primary
						a#editProdLink(href='/home') Edit Item
				div#prodForm
					form#NameSearch(class='form' autocomplete='off')
								label Product Name:
								input(type='text', name='prodName', class='form-control', placeholder='Product Name', ng-model="prod.searchName.Product_Name", ng-change="showList()", ng-click="showList()", required, autofocus)
								div(ng-hide="prod.searchName.Product_Name == null || prod.hideList == true")
									div#prodList
										table
											tr
												th SKU
												th Product Name
											tr(ng-repeat="prod in inventory | orderBy: orderByName | filter: prod.searchName")
												td 
													a(href="" ng-click="getProductByName(prod)") {{prod.SKU}}
												td {{prod.Product_Name}}
								label SKU:
								input(type='text', ng-model="prod.SKUByName" name='SKU', class='form-control', placeholder='SKU',required, readonly)
								label Product Description:
								textarea#desc(type='text', ng-model="prod.DescByName" name='prodDesc', class='form-control', placeholder='Product Description',readonly)
								label Quantity Available:
								input(type='text', ng-model="prod.quantityByName" name='quantity', class='form-control', placeholder='Quantity Available',readonly)
								label Location:
								input(type='text', ng-model="prod.locationByName" name='location', class='form-control', placeholder='Location',readonly)
								//- button(class='btn btn-lg btn-primary btn-block', type='submit') Search
								span.clearfix
block footer	
	p &copy Acme Warehouse Managment Systems 2015